<head>
  <title>Todo List</title>
</head>

<body>
    <div class="container">
        <header>
            <h1>Todo List ({{ incompleteTasks }})</h1>

            <label class="hide-completed">
                <input type="checkbox" checked="{{ hideCompleted }}" id="filtroTareasCompletas" >
                Esconder tareas completas
            </label>

            {{> loginButtons }}

            {{#if currentUser }}
                <form class="new-task" id="nuevaTarea">
                    <input type="text" id="tarea" name="text" placeholder="Nueva tarea">
                </form>
            {{/if}}

        </header>

        <ul>
            {{#each tasks}}
                {{> task}}
            {{/each}}
        </ul>

    </div>
</body>

<template name="task">
    <li class="{{#if checked }} checked {{/if}}">
        {{#if currentUser }}
            {{#if isOwner }}
            <button class="delete">&times;</button>

            <input type="checkbox" checked="{{ checked }}" class="toggle-checked">


            <button class="toggle-private" private="{{private}}">{{#if private }} Privado {{else}} Público {{/if}}</button>
            {{/if}}
        {{/if}}

        <span class="text">{{username}} - {{text}}</span>
    </li>
</template>
